asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-haystack
djangorestframework
djangorestframework-simplejwt
idna
mysqlclient
packaging
pillow
pip
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
requests
setuptools
six
sqlparse
tzdata
urllib3