asgiref
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
idna
packaging
pillow
pip
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
requests
setuptools
six
sqlparse
tzdata
urllib3