@import "variables";

#cart {
  #main {
    display: flex;
    position: relative;

    #cart-items-list {
      display: flex;
      flex-direction: column;
      margin: 0;
      gap: 35px;
      padding: 50px 100px;
      min-height: 100%;
      .item {
        display: flex;
        width: 1100px;
        transform: scale(1);
        transition-duration: 0.2s;
        border-radius: 30px;
        background: #fff;
        position: relative;
        padding: 20px 30px;
        box-shadow: 0 20px 30px 0 rgba(70, 70, 70, 0.10);

        &:hover {
          transform: scale(1.1);
          transition-duration: 0.2s;
          box-shadow: 17px 17px 17px $purple_main;

          .cross {
            display: block;
            transition: 0.2s;
          }
        }

        .cross {
          width: 30px;
          height: 30px;
          position: absolute;
          top: -6px;
          right: -4px;
          z-index: 2;
          background: none;
          border: none;
          padding: 0;
          display: none;
          transition: 0.2s;
        }

        .main {
          display: flex;
          gap: 20px;
          align-items: center;

          img {
            width: 100px;
          }

          h4 {
            color: $black_main;
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 25px;
            font-weight: 600;
            line-height: 140%; /* 30.8px */
          }

          h5 {
            color: $black_main;
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 20px;
            font-weight: 600;
            line-height: 140%; /* 25.2px */
          }
        }

        .quant {
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          div {
            width: 45px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 6px;

            p {
              color: $black_main;
              font-family: Poppins, sans-serif;
              font-size: 35px;
              font-weight: 400;
              line-height: 140%; /* 24.619px */
              margin-left: 15px;
            }
          }

          button {
            padding: 0;
            background: none;
            border: none;
          }
        }
      }
    }

    #order {
      width: 470px;
      height: 100%;
      border-left: 1px solid #CBCBCB;
      border-bottom: 1px solid #CBCBCB;
      position: fixed;
      right: 0;
      padding: 30px 50px;
      background-color: #fff;

      .error {
        color: red;
        font-family: Poppins, sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 140%; /* 24.619px */
        a {
          color: #008cff;
          font-family: Poppins, sans-serif;
          font-size: 12px;
          font-weight: 500;
          line-height: 140%; /* 24.619px */
        }
      }

      #costs {
        padding-bottom: 40px;
        border-bottom: 1px solid #CBCBCB;

        form {
          display: flex;
          gap: 9px;
          margin-top: 10px;

          #input {
            width: 316px;
            height: 43px;
            border-radius: 10px;
            background-color: #F9F9F9;
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 12px;
            padding: 10px 12px;
            margin-bottom: 30px;

            input {
              border: none;
              background: none;
              font-size: 18px;
              font-weight: 600;
              line-height: 117.5%; /* 21.15px */
              color: #6c6c72;

              &::placeholder {
                font-size: 18px;
                font-weight: 500;
                line-height: 117.5%; /* 21.15px */
                color: #C2C3CB;
              }
            }

            img {
              width: 30px;
            }
          }

          button {
            width: 121px;
            height: 63px;
            background-color: $purple_main;
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
          }
        }

        display: flex;
        flex-direction: column;
        gap: 15px;

        .total {
          font-size: 22px;
          font-weight: 600;
          color: $purple_main;

          span {
            font-size: 22px;
            font-weight: 600;
            line-height: 117.5%; /* 23.5px */
          }
        }

        h6 {
          display: flex;
          align-items: center;
          width: 470px;
          font-size: 20px;
          font-weight: 400;
          line-height: 117.5%; /* 23.5px */
          height: 30px;

          span {
            font-size: 20px;
            font-weight: 600;
            line-height: 117.5%; /* 23.5px */
            margin-left: auto;
          }

          img {
            margin-left: auto;
            width: 100px;
          }
        }
      }

      #pay {
        #userInfo {
          padding-top: 40px;
          display: flex;
          flex-direction: column;
          gap: 30px;

          #nameDiv {
            display: flex;
            flex-direction: column;
            gap: 10px;

            #name {
              border: none;
              background-color: #F9F9F9;
              font-size: 18px;
              font-weight: 500;
              line-height: 117.5%; /* 21.15px */
              color: #6c6c72;
              width: 450px;
              height: 15px;
              border-radius: 10px;
              padding: 20px 10px;

              &::placeholder {
                font-size: 18px;
                font-weight: 500;
                line-height: 117.5%; /* 21.15px */
                color: #C2C3CB;
              }
            }
          }

          #payment {
            padding-bottom: 40px;
            border-bottom: 1px solid #CBCBCB;
          }

          #address, #payment {
            display: flex;
            flex-direction: column;
            gap: 10px;

            #add-address {
              width: 470px;
              height: 55px;
              background-color: $purple_main;
              border: none;
              border-radius: 10px;
              color: white;
              font-size: 18px;
              font-weight: 600;
              line-height: 27px;
            }
          }
        }
      }

      #complete {
        width: 200px;
        height: 55px;
        margin: auto;
        background-color: green;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;

        a {
          color: #FFF;
        }
      }

      #new-address {
        #map {
          width: 100%;
          height: 400px;
          background-color: rgba(119, 119, 119, 0.55);
          border-radius: 24px;
          margin-bottom: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            font-size: 38px;
            font-weight: 600;
            line-height: 117.5%; /* 21.15px */
            color: #FFF;
            margin-bottom: 20px;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          gap: 25px;

          #inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
              border: none;
              background-color: #F9F9F9;
              font-size: 18px;
              font-weight: 500;
              line-height: 117.5%; /* 21.15px */
              color: #6c6c72;
              height: 15px;
              border-radius: 10px;
              padding: 20px 10px;

              &::placeholder {
                font-size: 18px;
                font-weight: 500;
                line-height: 117.5%; /* 21.15px */
                color: #C2C3CB;
              }
            }

            div {
              display: flex;
              gap: 20px;

              input {
                width: 30%;
              }
            }
          }

          .btns {
            display: flex;
            gap: 50px;

            .cancel {
              width: 48%;
              height: 55px;
              background-color: #FFF;
              border: 2px solid $purple_main;
              border-radius: 10px;
              color: $purple_main;
              font-size: 18px;
              font-weight: 600;
              line-height: 27px;
              cursor: pointer;
            }

            .add {
              width: 48%;
              height: 55px;
              background-color: $purple_main;
              border: none;
              border-radius: 10px;
              color: white;
              font-size: 18px;
              font-weight: 600;
              line-height: 27px;
            }
          }
        }
      }
    }
  }
}
