@import "variables.scss";

.base-header {
  padding: 16px 96px 16px 96px;
  display: flex;
  border-bottom: 1px solid #CBCBCB;
  background-color: $background;
  #load-img {
    height: 30px;
    margin: auto;
  }
  #first-part {
    display: flex;
    gap: 103px;
    align-items: center;
    #logo {
      a {
        display: flex;
        gap: 11px;
        align-items: center;
        h4 {
          color: $purple_main;
          font-size: 21px;
          font-weight: 600;
          line-height: 130%;
        }
        img {
          width: 46px;
          height: 42px;
        }
      }
    }
    nav {
      ul {
        display: flex;
        gap: 54px;
        li {
          a {
            color: $black_menu;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px; /* 150% */
          }
          .active {
             color: $purple_main;
           }
        }
      }
    }
  }
  #icons {
    margin-left: auto;
    display: flex;
    gap: 34px;
    align-items: center;
    img {
      cursor: pointer;
    }
    button {
      width: 121px;
      height: 53px;
      background-color: $purple_main;
      border: none;
      border-radius: 18px;
      a {
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
      }
    }
  }
}

.header {
  padding: 16px 96px 16px 96px;
  display: flex;
  border-bottom: 1px solid #CBCBCB;
  background-color: $background;
  position: fixed;
  top: -200px;
  z-index: 29;
  width: 92%;
  transition: 1s;
  #load-img {
    height: 30px;
    margin: auto;
  }
  #first-part {
    display: flex;
    gap: 103px;
    align-items: center;
    #logo {
      a {
        display: flex;
        gap: 11px;
        align-items: center;
        h4 {
          color: $purple_main;
          font-size: 21px;
          font-weight: 600;
          line-height: 130%;
        }
        img {
          width: 46px;
          height: 42px;
        }
      }
    }
    nav {
      ul {
        display: flex;
        gap: 54px;
        li {
          a {
            color: $black_menu;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px; /* 150% */
          }
          .active {
            color: $purple_main;
          }
        }
      }
    }
  }
  #icons {
    margin-left: auto;
    display: flex;
    gap: 34px;
    align-items: center;
    img {
      cursor: pointer;
    }
    button {
      width: 121px;
      height: 53px;
      background-color: $purple_main;
      border: none;
      border-radius: 18px;
      a {
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
      }
    }
  }
}

.sticky-header {
  position: fixed;
  top: 0;
}
