@import "variables.scss";

#home {
  #main-div {
    display: flex;
    gap: 37px;
    width: 1246px;
    margin: 50px auto;
    #first {
      width: 567px;
      #info {
        display: flex;
        flex-flow: column;
        gap: 17px;
        #up-header {
          display: flex;
          gap: 20px;
          align-items: center;
          div {
            height: 1px;
            width: 54px;
            background-color: rgba(32, 31, 31, 0.20);
          }
          h4 {
            color: rgba(32, 31, 31, 0.20);
            font-size: 15px;
            font-weight: 600;
            line-height: 120%; /* 18px */
            letter-spacing: 2px;
          }
        }
        h1 {
          color: $black_main;
          font-size: 75px;
          font-weight: 600;
          line-height: 120%; /* 90px */
          letter-spacing: -3px;
          span {
            color: $purple_main;
          }
        }
        p {
          color: $black_pars;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px; /* 155.556% */
          span {
            color: $purple_main;
          }
        }
      }
      #get-started {
        margin-top: 53px;
        .btns {
          display: flex;
          gap: 18px;
          .get {
            width: 156px;
            height: 59px;
            color: #fff;
            background-color: $purple_main;
            border: none;
            border-radius: 12px;
            a {
              color: #fff;
            }
          }
          .pro {
            width: 110px;
            height: 59px;
            background-color: $background;
            border: 2px solid $purple_main;
            border-radius: 12px;
            a {
              color: $purple_main;
            }
          }
          button {
            a {
              font-family: Poppins, serif;
              font-size: 16px;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
      #trustpilot {
        margin-top: 33px;
        display: flex;
        gap: 20px;
        align-items: center;
        div {
          padding-top: 8px;
          display: flex;
          gap: 9px;
          align-items: center;
          h5 {
            padding-top: 2px;
            color: var(--blue-gray-700, #334155);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px; /* 150% */
          }
        }
      }
    }
    #second {
      width: 600px;
      height: 550px;
      position: relative;
      .bg {
        width: 422px;
        height: 424px;
        border-radius: 424px;
        background: linear-gradient(137deg, #6C5FBC 4.83%, #5144A0 98.22%);
        position: absolute;
        top: 65px;
        right: 79px;
      }
      .plate {
        position: absolute;
        top: 77px;
        right: 98px;
        z-index: 2;
        width: 430px;
      }
      .grafic {
        position: absolute;
        z-index: 3;
        left: -25px;
        bottom: -29px;
        background-color: #fff;
        border-radius: 17px;
        border: 1px solid var(--Greyscale-200, #EDF2F7);
        background: var(--Others-White, #FFF);
        box-shadow: 14px 19px 38px 0 rgba(26, 32, 44, 0.15);
        width: 207px;
        height: 206px;
        padding: 13px 26px;
        #up {
          display: flex;
          gap: 15px;
          align-items: center;
          .main {
            padding: 11px;
            color: #fff;
            background-color: $purple_main;
            border-radius: 15px;
          }
          p {
            text-align: center;
            font-family: Poppins, sans-serif;
            font-size: 11px;
            font-weight: 400;
            line-height: 9px; /* 142.857% */
            color: #828282;
          }
        }
        div {
          position: relative;
          width: 207px;
          height: 97px;
          margin-top: 25px;
          .g {
            position: absolute;
            z-index: 1;
          }
          .l {
            position: absolute;
            z-index: 0;
            bottom: 20px;
          }
          .p {
            position: absolute;
            top: 20px;
            right: 30px;
            z-index: 2;
          }
        }
        #down {
          display: flex;
          gap: 19px;
          align-items: center;
          padding-top: 16px;
          margin-left: 15px;
          .main {
            padding: 11px;
            color: $black_main;
            background-color: rgba(231, 231, 231, 0.92);
            border-radius: 15px;
          }
          p {
            text-align: center;
            font-family: Poppins, sans-serif;
            font-size: 11px;
            font-weight: 400;
            line-height: 9px; /* 142.857% */
            color: #828282;
          }
        }
      }
      .chicken-hell {
        position: absolute;
        border-radius: 16px;
        border: 1px solid var(--Greyscale-200, #EDF2F7);
        background-color: #fff;
        box-shadow: 0 21px 24px 0 rgba(26, 32, 44, 0.2);
        top: 7px;
        right: 0;
        z-index: 4;
        width: 329px;
        height: 76px;
        padding: 9px 16px;
        div {
          display: flex;
          gap: 18px;
          align-items: center;
          div {
            display: flex;
            flex-direction: column;
            gap: 4px;
            align-items: flex-start;
            h4 {
              color: $black_second;
              font-feature-settings: 'clig' off, 'liga' off;
              font-size: 16px;
              font-weight: 600;
              line-height: 140%; /* 21.82px */
            }
            h5 {
              color: $black_second;
              font-feature-settings: 'clig' off, 'liga' off;
              font-size: 9.844px;
              font-weight: 500;
              line-height: 140%; /* 13.781px */
            }
          }
          img {
            width: 75px
          }
        }
        p {
          position: absolute;
          bottom: 10px;
          right: 16px;
          color: var(--Dark-Grey, #ACADB9);
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Poppins, sans-serif;
          font-size: 11px;
          font-weight: 500;
          line-height: 140%; /* 14.93px */
        }
      }
    }
  }
  #MobileApp {
    #counts {
      padding: 49px 0;
      display: flex;
      justify-content: center;
      background-color: $purple_main;
      margin-top: 135px;
      div {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 57px 79px;
        text-align: center;
        h4 {
          color: #fff;
          font-size: 43.2px;
          font-weight: 700;
          line-height: 54px; /* 125% */
        }
        p {
          color: #C5BFED;
          text-align: center;
          font-size: 14.4px;
          font-weight: 500;
          line-height: 21.6px; /* 150% */
        }
      }
      #s {
        border-left: 1px solid rgba(197, 197, 197, 0.15);
        border-right: 1px solid rgba(197, 197, 197, 0.15);
      }
    }
    #mobile {
      display: flex;
      gap: 180px;
      padding-bottom: 120px;
      .phone {
        position: relative;
        width: 560px;
        height: 850px;
        img {
          position: absolute;
        }
        .f {
          top: 120px;
          left: 0;
          z-index: 2;
        }
        .s {
          top: 133px;
          left: 16px;
        }
      }
      .info {
        width: 560px;
        padding-top: 195px;
        h2 {
          color: $black_main;
          font-size: 51px;
          font-weight: 700;
          line-height: 58px; /* 114.286% */
          span {
            color: $purple_main;
          }
        }
        div {
          padding-top: 63px;
          display: flex;
          flex-direction: column;
          gap: 28px;
          p {
            color: $black_pars;
            font-size: 20px;
            font-weight: 400;
            line-height: 31px;
          }
        }
        button {
          margin-top: 66px;
          border-radius: 15px;
          background: $purple_main;
          width: 186px;
          height: 63px;
          position: relative;
          border: none;
          color: #fff;
          text-align: left;
          padding-left: 36px;
          img {
            position: absolute;
            top: 18px;
            right: 30px;
            width: 27px;
            height: 27px;
          }
        }
      }
    }
  }
  #top-rests {
    text-align: center;
    border-top: 1px solid #CBCBCB;
    padding-top: 100px;
    h2 {
      color: $black_main;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 45px;
      font-weight: 600;
      line-height: 26px; /* 56.797% */
      margin-bottom: 86px;
      span {
        color: $purple_main;
      }
    }
    #tops {
      display: flex;
      gap: 30px;
      .rest-card {
        width: 396px;
        height: 298px;
        border-radius: 30px;
        border: 1px solid #F4F4F6;
        background: #FFF;
        box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.70);
        .rest-img {
          width: 396px;
          height: 176px;
          border-radius: 30px 30px 0 0;
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 1px;
          padding: 14px 30px 18px;
          text-align: left;
          .cat {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px;
            width: 66px;
            height: 25px;
            border-radius: 5px;
          }
          .text {
            display: flex;
            flex-direction: column;
            gap: 2px;
            h4 {
              color: $black_main;
              font-feature-settings: 'clig' off, 'liga' off;
              font-size: 26px;
              font-weight: 600;
              line-height: 42px; /* 162.5% */
            }
            .widgets {
              display: flex;
              gap: 157px;
              .time-rating {
                display: flex;
                gap: 13px;
                align-items: center;
                p {
                  color: #8E97A6;
                  font-feature-settings: 'clig' off, 'liga' off;
                  font-size: 19px;
                  font-weight: 400;
                  line-height: 26px; /* 133.333% */
                }
                div {
                  display: flex;
                  gap: 5px;
                  align-items: center;
                }
              }
              button {
                background: #fff;
                border: none;
                position: relative;
                margin-bottom: 10px;
                img {
                  position: absolute;
                  top: -20px;
                  right: -45px;
                }
              }
            }
          }
        }
      }
    }
  }
}