#menu {
  text-align: center;

  #loading {
    padding: 30px 0;
  }

  #top-rests {
    border-top: none;
  }

  #main-div {
    display: flex;
    gap: 60px;
    padding-top: 40px;
    text-align: left;

    #ad-search {
      display: flex;
      flex-direction: column;
      gap: 40px;

      #search {
        form {
          display: flex;
          gap: 5px;

          input {
            border: none;
            background-color: #ededed;
            font-size: 18px;
            font-weight: 500;
            line-height: 117.5%; /* 21.15px */
            color: #6c6c72;
            width: 610px;
            padding: 15px;
            border-radius: 10px;
            height: 35px;
          }

          button {
            border: none;
            background-color: $purple_main;
            font-size: 18px;
            font-weight: 500;
            line-height: 117.5%; /* 21.15px */
            color: #fff;
            padding: 15px 20px;
            border-radius: 10px;
            height: 63px;
          }
        }

        #search-btns {
          display: flex;
          align-items: center;
          width: 750px;
          padding-top: 30px;

          button {
            transition: 0.2s;
            transform: scaleY(1);
            width: 50%;

            &:hover {
              transition: 0.3s;
              transform: scaleY(1.2);
            }
          }

          #food-search {
            border-radius: 10px 0 0 10px;
          }

          #rest-search {
            border-radius: 0 10px 10px 0;
          }

          .active {
            border: none;
            background-color: $purple_main;
            font-size: 18px;
            font-weight: 500;
            line-height: 117.5%; /* 21.15px */
            color: #fff;
            padding: 15px 20px;
            height: 63px;
          }

          .passive {
            border: 1px solid $purple_main;
            background-color: $background;
            font-size: 18px;
            font-weight: 500;
            line-height: 117.5%; /* 21.15px */
            color: $purple_main;
            padding: 15px 20px;
            height: 63px;
          }
        }
      }
    }

    .slider__item-content {
      display: flex;
      flex-direction: column;
      border-radius: 19px;
      position: relative;
      width: 638px;
      height: 191px;
      padding: 30px 60px;

      h2 {
        color: #f7f8fa;
        font-size: 74.996px;
        font-weight: 800;
        text-align: left;
      }

      h3 {
        color: $purple_main;
        font-size: 87.419px;
        font-weight: 800;
        text-align: left;
      }

      img {
        position: absolute;
        width: 254px;
        right: 40px;
        bottom: -60px;
      }
    }
  }

  .disabled-filters {
    opacity: 0.7;
    user-select: none;
    cursor: default;
    pointer-events: none;
  }

  #sort-filter {
    height: 470px;
    padding: 20px;
    background-color: #fff;
    margin-left: 0;
    min-width: 397px;
    border-radius: 24px;
    box-shadow: 6px 10px 29px 1px rgba(108, 95, 188, 0.12);
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: left;

    .categories {
      h4 {
        color: $black_main;
        font-feature-settings: "liga" off, "clig" off;
        font-size: 21px;
        font-weight: 600;
        line-height: 29px;
        padding-bottom: 10px;
      }

      .category-filter {
        display: flex;
        gap: 10px;
        align-items: center;

        #select {
          display: flex;
          flex-direction: column;
          gap: 5px;
          justify-content: center;

          .other {
            color: $purple_main;
            font-family: Poppins, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .active {
          transform: scale(1.1);
          transition: 0.2s;
          filter: drop-shadow(0 15px 5px rgba(135, 125, 200, 0.75));
        }

        .cat-div {
          height: 90px;
          width: 60px;
          text-align: center;
          padding: 10px;
          border-radius: 26px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          cursor: pointer;
          transform: scale(1);
          transition: 0.2s;
          position: relative;
          border: 4px solid #fff;

          &:hover {
            transform: scale(1.1);
            transition: 0.2s;
            filter: drop-shadow(0 15px 22px rgba(135, 125, 200, 0.35));
          }

          p {
            font-family: Poppins, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          img {
            width: 50px;
          }
        }

        #fastfood {
          background-color: rgba(255, 222, 138, 0.69);

          p {
            color: #d69900;
          }

          &:hover {
            border: 4px solid #d69900;
          }
        }

        #asian {
          background-color: rgba(247, 197, 186, 0.67);

          p {
            color: #fb471d;
            padding-right: 3px;
          }

          img {
            padding-left: 3px;
          }

          &:hover {
            border: 4px solid #fb471d;
          }
        }

        #meat {
          background-color: rgba(237, 182, 107, 0.65);

          p {
            color: #e28b14;
          }

          &:hover {
            border: 4px solid #e28b14;
          }
        }
      }
    }

    #sorting {
      h4 {
        color: $black_main;
        font-feature-settings: "liga" off, "clig" off;
        font-size: 21px;
        font-weight: 600;
        line-height: 29px;
        padding-bottom: 10px;
      }

      #sort-selects {
        display: flex;
        gap: 20px;

        .sort-select {
          display: flex;
          flex-direction: column;
          gap: 5px;

          p {
            color: $purple_main;
            font-family: Poppins, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }

    #cost-filter {
      h4 {
        color: $black_main;
        font-feature-settings: "liga" off, "clig" off;
        font-size: 21px;
        font-weight: 600;
        line-height: 29px;
        padding-bottom: 10px;
      }

      .range-slider-input {
        appearance: none;
        width: 100%;
        height: 8px;
        background: transparent;
        outline: none;
        border-radius: 5px;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          background: $purple_main;
          border-radius: 50%;
          cursor: pointer;
          border: none;
        }

        &::-moz-range-thumb {
          width: 20px;
          height: 20px;
          background: $purple_main;
          border-radius: 50%;
          cursor: pointer;
          border: none;
        }

        &::-ms-thumb {
          width: 20px;
          height: 20px;
          background: $purple_main;
          border-radius: 50%;
          cursor: pointer;
          border: none;
        }
      }

      ul {
        display: flex;
        gap: 22px;

        li {
          color: #c2c3cb;
          font-feature-settings: "liga" off, "clig" off;
          font-family: Poppins, sans-serif;
          font-size: 11px;
          font-weight: 500;
          line-height: 30px; /* 280.53% */
        }
      }
    }

    button {
      width: 150px;
      height: 50px;
      background-color: $purple_main;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      border: none;
      border-radius: 10px;
      margin: auto;
    }
  }

  #items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 60px;
    width: 1300px;
    text-align: left;
  }

  #no-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 40px;

    h2 {
      color: #c2c3cb;
      font-size: 30px;
      font-weight: 800;
      line-height: 30px;
    }

    p {
      color: #c2c3cb;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
    }
  }
}
