@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

:root[data-theme="light"] {
  --background-color: #f9f9f9;
  --purple_main: #6c5fbc;
  --black_main: rgb(54, 54, 54);
  --black_second: #323142;
  --black_menu: #606060;
  --black_pars: #636363;
  --green_main: green;
  --red_main: red;
  --error_link: #008cff;

  --input_text: #6c6c72;
  --input_placeholder: #c2c3cb;

  --accent_text: #fff;
  --accent_block: #fff;
  --main_button_color: #fff;

  --background: var(--background-color);
  --border: #cbcbcb;

  --empty_cart_text: #c2c3cb;
  --cart_item_shadow: rgba(70, 70, 70, 0.1);

  --footer_bg: #eaeaea;
  --footer_delimiter: #818181;
  --footer_copyright: #999;

  --trustpilot: #334155;
  --grafic_shadow: rgba(26, 32, 44, 0.15);
  --counts_text: #c5bfed;
  --counts_border: rgba(197, 197, 197, 0.15);

  --search_bg: #ededed;
  --filter_shadow: rgba(108, 95, 188, 0.12);
  --active_filter_cat_shadow: rgba(135, 125, 200, 0.75);
  --hover_filter_cat_shadow: rgba(135, 125, 200, 0.35);
  --cost_range: #c2c3cb;

  --order_from_bg: rgba(0, 128, 0, 0.432);
  --order_to_bg: rgba(255, 0, 0, 0.432);
  --order_address_bg: #6b5fbc77;
  --order_stats_bg: #f2f2f2;
  --order_info_delimiter: rgba(103, 103, 103, 0.62);
  --order_payment_expdate_delimiter: rgba(107, 107, 107, 0.65);

  --profile_actions_but: #f1f1f1;
  --profile_actions_but_txt: #9c9da0;
  --delete_acc_bg: rgba(255, 0, 0, 0.342);
  --order_card_shadow: rgba(229, 229, 229, 0.7);
  --order_time: rgb(0, 199, 199);
  --order_shadow: rgba(229, 229, 229, 0.7);

  --login_footer: #718096;
}

:root[data-theme="dark"] {
  --background-color: #272424;
  --purple_main: #6c5fbc;
  --black_main: rgb(104, 104, 104);
  --black_second: #53525f;
  --black_menu: #868686;
  --black_pars: #919191;
  --green_main: green;
  --red_main: red;
  --error_link: #008cff;

  --input_text: #909094;
  --input_placeholder: #4e4e4e;

  --accent_text: #1b1b1b;
  --accent_block: #1b1b1b;
  --main_button_color: #1b1b1b;

  --background: var(--background-color);
  --border: #161616;

  --empty_cart_text: #c2c3cb;
  --cart_item_shadow: rgba(70, 70, 70, 0.1);

  --footer_bg: #3f3f3f;
  --footer_delimiter: #818181;
  --footer_copyright: #c2c2c2;

  --trustpilot: #334155;
  --grafic_shadow: rgba(26, 32, 44, 0.15);
  --counts_text: #c5bfed;
  --counts_border: rgba(197, 197, 197, 0.15);

  --search_bg: #161616;
  --filter_shadow: rgba(108, 95, 188, 0.12);
  --active_filter_cat_shadow: rgba(135, 125, 200, 0.75);
  --hover_filter_cat_shadow: rgba(135, 125, 200, 0.35);
  --cost_range: #c2c3cb;

  --order_from_bg: rgba(0, 128, 0, 0.432);
  --order_to_bg: rgba(255, 0, 0, 0.432);
  --order_address_bg: #6b5fbc77;
  --order_stats_bg: #f2f2f2;
  --order_info_delimiter: rgba(103, 103, 103, 0.62);
  --order_payment_expdate_delimiter: rgba(107, 107, 107, 0.65);

  --profile_actions_but: #222222;
  --profile_actions_but_txt: #9c9da0;
  --delete_acc_bg: rgba(255, 0, 0, 0.342);
  --order_card_shadow: rgba(229, 229, 229, 0.7);
  --order_time: rgb(0, 199, 199);
  --order_shadow: rgba(229, 229, 229, 0.7);

  --login_footer: #718096;
}

$purple_main: var(--purple_main);
$black_main: var(--black_main);
$black_second: var(--black_second);
$black_menu: var(--black_menu);
$black_pars: var(--black_pars);
$green_main: var(--green_main);
$red_main: var(--red_main);
$error_link: var(--error_link);

$input_text: var(--input_text);
$input_placeholder: var(--input_placeholder);

$accent_text: var(--accent_text);
$accent_block: var(--accent_block);
$main_button_color: var(--main_button_color);

$background: var(--background-color);
$border: var(--border);

$empty_cart_text: var(--empty_cart_text);
$cart_item_shadow: var(--cart_item_shadow);

$footer_bg: var(--footer_bg);
$footer_delimiter: var(--footer_delimiter);
$footer_copyright: var(--footer_copyright);

$trustpilot: var(--trustpilot);
$grafic_shadow: var(--grafic_shadow);
$counts_text: var(--counts_text);
$counts_border: var(--counts_border);

$search_bg: var(--search_bg);
$filter_shadow: var(--filter_shadow);
$active_filter_cat_shadow: var(--active_filter_cat_shadow);
$hover_filter_cat_shadow: var(--hover_filter_cat_shadow);
$cost_range: var(--cost_range);

$order_from_bg: var(--order_from_bg);
$order_to_bg: var(--order_to_bg);
$order_address_bg: var(--order_address_bg);
$order_stats_bg: var(--order_stats_bg);
$order_info_delimiter: var(--order_info_delimiter);
$order_payment_expdate_delimiter: var(--order_payment_expdate_delimiter);

$profile_actions_but: var(--profile_actions_but);
$profile_actions_but_txt: var(--profile_actions_but_txt);
$delete_acc_bg: var(--delete_acc_bg);
$order_card_shadow: var(--order_card_shadow);
$order_time: var(--order_time);
$order_shadow: var(--order_shadow);

$login_footer: var(--login_footer);

html,
body,
#cart,
#main,
#root,
#log,
#complete-order {
  background: $background;
  height: 100%;
  margin: 0;
}

.logo {
  font-family: "Jua", sans-serif !important;
  font-size: 30px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  font-family: "Poppins", sans-serif;
}

p,
a {
  font-family: "Inter", sans-serif;
}

div {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: $black_main;
  transition: 0.2s;

  &:hover {
    opacity: 0.7;
    transition: 0.2s;
  }
}

button {
  transform: scale(1);
  transition: 0.2s;
}

button:hover {
  transform: scale(1.12);
  transition: 200ms;
}

.container {
  width: 1246px;
  margin: 0 auto;
}

.view-all {
  position: absolute;
  bottom: 0;
  right: 0;

  a {
    display: flex;
    gap: 16px;

    p {
      color: #acadb9;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Poppins, sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 45px; /* 225.921% */
    }
  }
}

.time-rating {
  display: flex;
  gap: 13px;
  align-items: center;

  p {
    color: #8e97a6;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 19px;
    font-weight: 400;
    line-height: 26px; /* 133.333% */
  }

  div {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.header {
  .active {
    color: $purple_main;
  }
}

#top-rests {
  text-align: center;
  border-top: 1px solid #cbcbcb;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  h2 {
    color: $black_main;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 45px;
    font-weight: 600;
    line-height: 26px; /* 56.797% */
    margin-bottom: 86px;

    span {
      color: $purple_main;
    }
  }

  #tops {
    display: flex;
    gap: 30px;
    padding-bottom: 66px;
  }
}

#top-dishes {
  position: relative;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 130px;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 80px;

  h2 {
    color: $black_main;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 45px;
    font-weight: 600;
    line-height: 26px; /* 56.797% */
    margin-bottom: 86px;

    span {
      color: $purple_main;
    }
  }

  .tops {
    display: flex;
    gap: 31px;
    text-align: left;
  }
}

.dish {
  width: 185px;
  height: 370px;
  border-radius: 35px;
  border: 1px solid #f4f4f6;
  background: #fff;
  box-shadow: 7px 82px 41px 0 rgba(229, 229, 229, 0.7);
  position: relative;
  padding: 30px 20px;

  .like {
    position: absolute;
    top: 24px;
    right: 22px;
  }

  .photo {
    height: 181px;
  }

  .info {
    .item-cat {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding-top: 10px;
      height: 110px;

      h4 {
        color: $black_main;
        font-feature-settings: "clig" off, "liga" off;
        font-size: 23px;
        font-weight: 600;
        line-height: 37px; /* 162.5% */
      }

      .cat {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px;
        width: 84px;
        height: 25px;
        border-radius: 5px;
      }

      .cat-rating {
        display: flex;
        justify-content: space-between;

        .rate {
          margin-left: auto;
          display: flex;
          align-items: center;
          gap: 3px;
          
          p {
            color: $black_main;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; /* 100% */
          }
        }
      }
    }

    .time-rating {
      display: flex;
      align-items: center;
      position: relative;
      bottom: 0;

      .rest-info {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .rest {
          font-size: 12px;
        }
        img {
          width: 25px;
        }
      }

      div {
        margin-left: auto;
      }
    }

    .price-add {
      display: flex;
      padding-top: 13px;
      position: absolute;
      bottom: 20px;

      h5 {
        color: $black_main;
        font-family: Manrope, sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 40px; /* 155.556% */
        span {
          color: #8e97a6;
          font-family: Manrope, sans-serif;
          font-size: 19px;
          font-weight: 700;
          line-height: 40px;
        }
      }

      button {
        position: absolute;
        right: -130px;
        border: none;
        background-color: #fff;
      }
    }
  }
}

.rest-card {
  width: 396px;
  height: 298px;
  border-radius: 30px;
  border: 1px solid #f4f4f6;
  background: #fff;
  box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.7);

  .rest-img {
    width: 396px;
    height: 176px;
    border-radius: 30px 30px 0 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 14px 30px 18px;
    text-align: left;

    .cat {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px;
      width: 76px;
      height: 25px;
      border-radius: 5px;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 2px;

      h4 {
        color: $black_main;
        font-feature-settings: "clig" off, "liga" off;
        font-size: 26px;
        font-weight: 600;
        line-height: 42px; /* 162.5% */
      }

      .widgets {
        display: flex;
        gap: 157px;

        button {
          background: #fff;
          border: none;
          position: relative;
          margin-bottom: 10px;

          img {
            position: absolute;
            top: -20px;
            right: -45px;
          }
        }
      }
    }
  }
}

form {
  #inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;

    #input {
      width: 352px;
      height: 65px;
      border-radius: 14px;
      background: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: left;
      padding-left: 30px;
      padding-right: 30px;

      input {
        background: none;
        border: none;
        color: #6c5fbc;
        font-family: Poppins, sans-serif;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.334px;

        &::placeholder {
          color: #c2c3cb;
          font-family: Poppins, sans-serif;
          font-size: 17px;
          font-style: normal;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
    }
  }

  #action {
    button {
      margin-top: 5px;
      width: 408px;
      height: 65px;
      border-radius: 13px;
      background: $purple_main;
      border: none;
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      color: white;
    }

    .another {
      text-align: center;
      padding-top: 8px;
      color: #3e3e3e;
      font-family: Poppins, sans-serif;
      font-size: 19px;
      font-weight: 400;
      letter-spacing: 0.189px;

      a {
        color: $purple_main;
        font-family: Poppins, sans-serif;
        font-size: 19px;
        font-weight: 700;
        letter-spacing: 0.189px;
      }
    }
  }
}

.auth-error {
  text-align: center;
  color: red;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 24.619px */
  margin-top: 30px;
}

.disabled {
  user-select: none;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.function-marker {
  margin-left: 5px;
  background-color: #7d6de77a;
  height: 26px;
  width: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;

  .marker {
    color: $purple_main;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
  }
}
