@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$purple_main: #6C5FBC;
$black_main: rgb(54, 54, 54);
$black_second: #323142;
$black_menu: #606060;
$black_pars: #636363;
$background: #F9F9F9;

html, body, #cart, #main, #root, #log, #complete-order {
  background: #F9F9F9;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, button, input {
  font-family: "Poppins", sans-serif;
}

p, a {
  font-family: "Inter", sans-serif;
}

div {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: $black_main;
}

button {
  transform: scale(1);
  transition: 0.2s;
}

button:hover {
  transform: scale(1.12);
  transition: 200ms;
}

.container {
  width: 1246px;
  margin: 0 auto;
}

.view-all {
  position: absolute;
  bottom: 0;
  right: 0;

  a {
    display: flex;
    gap: 16px;

    p {
      color: #ACADB9;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Poppins, sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 45px; /* 225.921% */
    }
  }
}

.time-rating {
  display: flex;
  gap: 13px;
  align-items: center;

  p {
    color: #8E97A6;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 19px;
    font-weight: 400;
    line-height: 26px; /* 133.333% */
  }

  div {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.header {
  .active {
    color: $purple_main;
  }
}

#top-rests {
  text-align: center;
  border-top: 1px solid #CBCBCB;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  h2 {
    color: $black_main;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 45px;
    font-weight: 600;
    line-height: 26px; /* 56.797% */
    margin-bottom: 86px;

    span {
      color: $purple_main;
    }
  }

  #tops {
    display: flex;
    gap: 30px;
    padding-bottom: 66px;
  }
}

#top-dishes {
  position: relative;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 130px;
  border-top: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
  margin-bottom: 80px;

  h2 {
    color: $black_main;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 45px;
    font-weight: 600;
    line-height: 26px; /* 56.797% */
    margin-bottom: 86px;

    span {
      color: $purple_main;
    }
  }

  .tops {
    display: flex;
    gap: 31px;
    text-align: left;
  }
}

.dish {
  width: 185px;
  height: 370px;
  border-radius: 35px;
  border: 1px solid #F4F4F6;
  background: #FFF;
  box-shadow: 7px 82px 41px 0 rgba(229, 229, 229, 0.70);
  position: relative;
  padding: 30px 20px;

  .like {
    position: absolute;
    top: 24px;
    right: 22px;
  }

  .photo {
    width: 181px;
  }

  .info {
    .item-cat {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding-top: 10px;

      h4 {
        color: $black_main;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 23px;
        font-weight: 600;
        line-height: 37px; /* 162.5% */
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px;
        width: 84px;
        height: 25px;
        border-radius: 5px;
      }
    }

    .time-rating {
      display: flex;
      align-items: center;
      position: relative;
      bottom: -45px;

      .rest {
        font-size: 12px;
      }

      div {
        margin-left: auto;
      }
    }

    .price-add {
      display: flex;
      padding-top: 13px;
      position: absolute;
      bottom: 20px;

      h5 {
        color: $black_main;
        font-family: Manrope, sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 40px; /* 155.556% */
        span {
          color: #8E97A6;
          font-family: Manrope, sans-serif;
          font-size: 19px;
          font-weight: 700;
          line-height: 40px;
        }
      }

      button {
        position: absolute;
        right: -130px;
        border: none;
        background-color: #fff;
      }
    }
  }
}

.rest-card {
  width: 396px;
  height: 298px;
  border-radius: 30px;
  border: 1px solid #F4F4F6;
  background: #FFF;
  box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.70);

  .rest-img {
    width: 396px;
    height: 176px;
    border-radius: 30px 30px 0 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 14px 30px 18px;
    text-align: left;

    .cat {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px;
      width: 76px;
      height: 25px;
      border-radius: 5px;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 2px;

      h4 {
        color: $black_main;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 26px;
        font-weight: 600;
        line-height: 42px; /* 162.5% */
      }

      .widgets {
        display: flex;
        gap: 157px;

        button {
          background: #fff;
          border: none;
          position: relative;
          margin-bottom: 10px;

          img {
            position: absolute;
            top: -20px;
            right: -45px;
          }
        }
      }
    }
  }
}
