.slider_style {
  position: relative;
  max-width: 800px;
}

.slider__container {
  overflow: hidden;
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 800px;
  user-select: none;
  padding-bottom: 60px;
}

.slider__indicators {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 8px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #DBD9EE;
  background-clip: padding-box;
  transition: 0.5s ease;
  border-radius: 5px;
}

.slider__indicators li.active {
  background-color: #6C5FBC;
  transition: 0.5s ease;
  width: 70px;
}
